/* General Styles */
body {
  background-color: #fffdf4; /* Light cream background */
  color: #444444;
  /* TODO: change to a more readable font */
  /* font-family: "JustAnotherHand", cursive; */
  font-family: 'sans-serif';
  font-size: 1rem;
  position: relative;
}

/* Fancy Headings */
h1, h2, h3, h4, h5, h6 {
  color: #252525;
  font-family: "Playlist-Script-cz", sans-serif;
  font-weight: normal;
  /* Disable typographic ligatures for this heading */
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0, "clig" 0, "calt" 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}